.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  width: 100%;
}

.home-title {
  font-size: 3rem;
  color: #282c34;
  font-weight: bold;
  text-align: center;
}

